page-home {
  .main-menu {
    margin: 0 auto;
    width: 70%;
    // height: 100px;
    margin-top: 120px;
    padding: 40px;
    border: 1px solid #0ee4ff;
    text-align: center;
    .item {
      margin: 5px;
    }
    button {
      margin: 0 auto;
    }
  }

}
