page-game {
  .canvas-container {
    background: #0000ff;
    height: 350px;
    margin: 0px;
  }

  .color-buttons {
    margin: 0px 20px;
    .inner {
      width: 120px;
      margin: 0 auto;
    }
  }
}
