page-game {


  @keyframes animateChameleon {
      0%   { background-image: url('/assets/imgs/chameleon_01.png'); }
      25%  { background-image: url('/assets/imgs/chameleon_04.png'); }
      50%  { background-image: url('/assets/imgs/chameleon_03.png'); }
      75%  { background-image: url('/assets/imgs/chameleon_01.png'); }
      100% { background-image: url('/assets/imgs/chameleon_02.png'); }
  }

  @-webkit-keyframes animateChameleon {
      0%   { background-image: url('/assets/imgs/chameleon_01.png'); }
      25%  { background-image: url('/assets/imgs/chameleon_04.png'); }
      50%  { background-image: url('/assets/imgs/chameleon_03.png'); }
      75%  { background-image: url('/assets/imgs/chameleon_01.png'); }
      100% { background-image: url('/assets/imgs/chameleon_02.png'); }
  }



  // you would probably need to change position to absolute and add width and height
  .chameleon-container {
      background-image: url('/assets/imgs/chameleon_01.png');
      overflow: hidden;
      position: relative;
      display: block;
      width: 25vw;
      height: -moz-calc(100% - 194px);
      height: -webkit-calc(100% - 194px);
      height: calc(100% - 194px);
      z-index: 1;
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      -webkit-animation:animateChameleon 5s linear infinite;
      -moz-animation:animateChameleon 0.1s linear infinite;
      -ms-animation:animateChameleon 0.1s linear infinite;
      -o-animation:animateChameleon 0.1s linear infinite;
          animation:animateChameleon 0.5s linear infinite;


      position:absolute; /*it can be fixed too*/
      left:0; right:0;
      top:0; bottom:0;
      margin: 0 auto;

      /*this to solve "the content will not be cut when the window is smaller than the content": */
      max-width:100%;
      max-height:90%;
      overflow:auto;
  }

  .chamelon-child {
      background-image: url('/assets/imgs/chameleon_01.png');
      background-color: #0f0;
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      width: 25vw;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      mask-image: url('/assets/imgs/chameleon_mask.png');
      mask-size: 100%;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-animation:animateChameleon 5s linear infinite;
      -moz-animation:animateChameleon 0.1s linear infinite;
      -ms-animation:animateChameleon 0.1s linear infinite;
      -o-animation:animateChameleon 0.1s linear infinite;
          animation:animateChameleon 0.5s linear infinite;
  }


  @keyframes animatedBackground {
      from { background-position: 0 0; }
      to { background-position: 95% 0; }
  }

  @-webkit-keyframes animatedBackground {
      from { background-position: 0 0; }
      to { background-position: 90% 0; }
  }

  // add this class to the background element
  // modify background-color property for changing the color
  .container {
      background-color: #f00;
      background-image: url('/assets/imgs/BG_dots.png');
      background-position: 0px 0px;
      background-repeat: repeat-x;
      //background-size:cover;
      -webkit-animation:animatedBackground 3s linear infinite;
      -moz-animation:animatedBackground 3s linear infinite;
      -ms-animation:animatedBackground 3s linear infinite;
      -o-animation:animatedBackground 3s linear infinite;
          animation:animatedBackground 3s linear infinite;
  }


  .overlay {
    position: fixed;
    z-index: 1051;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(12, 16, 9, 0.96);
    text-align: center;
    div {
      top: 50px;
      z-index: 1091;
      position: fixed;
      width: 100%;
      height: 100%;
      font-size: 30px;
      color: wheat;
      margin: 0 auto;
    }
    .fail {
      background: rgba(255, 154, 125, 0.59);
    }
    .success {
      background: rgba(0, 255, 222, 0.65);
    }
    button {
      z-index: 9999999;
      position: fixed;
      background: yellow;
    }
  }

  .timer, .score, .action-btns {
    position: absolute;
    font-size: 25px;
    z-index: 99999;
    color: wheat;
  }


  .timer {
    margin: 10px;
  }

  .score {
    right: 150px;
    top: 12px;
    margin: 0 auto;
  }

  .action-btns {
    right: 10px;
    top: 10px;
    .resume {
      cursor: pointer;
    }
  }

  .canvas-container {
    height: 100%;
    width: 100%;
    margin: 0px;
    canvas {
      background: #0000ff;
    }
  }

  .footer-part {
    position:absolute;
    width: 100%;
    bottom:0px;
    .color-controls {
      .list-md {
        margin: 0;
        ion-item {
          padding: 0px 20px;
          .range-knob {
            height: 25px;
            width: 25px;
          }
          .range-bar, .range-tick {
            top: 25px;
          }
          ion-icon {
            font-family: Roboto, "Helvetica Neue", sans-serif;
            font-size: 10px;
            margin-top: 5px;
            color: rgb(180,180,180);
          }
          ._right {
            margin-left: 20px;
          }
          .item-inner {
            border: none;
          }
        }
        ion-item:last-child {
          padding-bottom: 20px;
        }
      }
    }
  }
}
